.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(20, 23, 26, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 26;
}


.container {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  background: #E5ECF4;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 20px 20px;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  animation: openModal 0.6s linear forwards;
}

.dark .container {
  background-color: #5C5470;
}

.container * {
  margin: 0;
  padding: 0;
}


.closeBtn {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.closeBtn img {
  width: 100%;
  height: 100%;
  filter: invert(80%);
  transition: all 0.1s ease-in;
}

.dark .closeBtn img {
  filter: invert(10%);
}

.closeBtn:hover img {
  filter: invert(100%);
}

.dark .closeBtn:hover img {
  filter: invert(0);
}

.container h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0B0C28;
  text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 5px;
}

.dark .container h3 {
  color: #DBD8E3;
}

.horLine {
  width: 80%;
  height: 1.5px;
  background-color: #0B0C28;
  margin-top: 5px;
}

.dark .horLine {
  background-color: #DBD8E3;
}



.phoneBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  margin-left: 5px;
}

.phoneBox img {
  width: 20px;
  height: 20px;
}

.dark .phoneBox img {
  filter: invert(80%);
}

.phoneBox h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0B0C28;
}

.dark .phoneBox h5 {
  color: #DBD8E3;
}



.emailBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 5px;
}

.emailBox img {
  width: 20px;
  height: 20px;
}

.dark .emailBox img {
  filter: invert(80%);
}

.emailBox h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #0B0C28;
}

.dark .emailBox h5 {
  color: #DBD8E3;
}






@media (max-width: 950px) {
  .container {
    position: relative;
    box-sizing: border-box;
    width: 320px;
    height: 160px;
    background: #E5ECF4;
    box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 16px 16px;
    margin: 15vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: openModal 0.6s linear forwards;
  }
  
  .container * {
    margin: 0;
    padding: 0;
  }
  
  
  .closeBtn {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .closeBtn img {
    width: 100%;
    height: 100%;
    filter: invert(80%);
    transition: all 0.1s ease-in;
  }
  
  .closeBtn:hover img {
    filter: invert(100%);
  }
  
  .container h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.20px;
    color: #0B0C28;
    text-shadow: rgba(99, 99, 99, 0.2) 0px 1.60px 6.40px 0px;
    margin-top: 4px;
  }
  
  .horLine {
    width: 80%;
    height: 1.20px;
    background-color: #0B0C28;
    margin-top: 4px;
  }
  
  
  
  .phoneBox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 12px;
    margin-left: 4px;
  }
  
  .phoneBox img {
    width: 16px;
    height: 16px;
  }
  
  .phoneBox h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.40px;
    line-height: 19.20px;
    color: #0B0C28;
  }
  
  
  
  .emailBox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 4px;
  }
  
  .emailBox img {
    width: 16px;
    height: 16px;
  }
  
  .emailBox h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.40px;
    line-height: 19.20px;
    color: #0B0C28;
  }
}









@keyframes openModal{
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  40%{
    opacity: 0;
  }
  60%{
    /* opacity: 0; */
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}