.main {
  width: 100%;
  height: calc(100vh - 70px);
  background: linear-gradient(90deg, rgba(123,167,189,1) 20%, rgba(160,201,221,1) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main.dark {
  background: #5C5470;
}

.container {
  box-sizing: border-box;
  width: 800px;
  min-height: 500px;
  background-color: #E5ECF4;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  animation: loadPage 0.4s linear forwards;
}

.dark .container {
  background-color: #DBD8E3;
}

.toolbarClass {
  background-color: #4E7E95;
  border-radius: 15px 15px 0 0;
  height: 90px;
}

.dark .toolbarClass {
  background-color: #352F44;
}


.wrapperClass {
  box-sizing: border-box;
  padding: 1px;
}

.editorClass {

}

.saveBtn {
  width: 98%;
  height: 50px;
  background-color: #4E7E95;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  border: none;
  border-radius: 10px;
  margin: auto auto 0;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #E5ECF4;
  transition: all 0.2s ease;
}

.saveBtn:hover {
  color: #eff1f3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#saved {
  color: #FF834D;
}

.dark .saveBtn {
  background-color: #352F44;
  color: #DBD8E3;
}



@media (max-width: 950px){
  .main {
    width: 100%;
    height: calc(100vh - 50px);
    background: linear-gradient(90deg, rgba(123,167,189,1) 20%, rgba(160,201,221,1) 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .container {
    box-sizing: border-box;
    width: 350px;
    height: 650px;
    background-color: #E5ECF4;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    padding-bottom: 10px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: loadPage 0.4s linear forwards;
  }
  
  .toolbarClass {
    background-color: #4E7E95;
    border-radius: 15px 15px 0 0;
    height: 200px;
  }
  
  
  .wrapperClass {
    box-sizing: border-box;
    padding: 1px;
  }
  
  .editorClass {
  
  }
  
  .saveBtn {
    width: 95%;
    height: 50px;
    background-color: #4E7E95;
    border: none;
    border-radius: 10px;
    margin: auto auto 0;
    cursor: pointer;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #E5ECF4;
    transition: all 0.2s ease;
  }
  

}










@keyframes loadPage{
  0%{
    opacity: 0;
  }
  50%{
  }
  100%{
    opacity: 1;
  }
}