body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar { 
	width: 8px;
	background-color: #4E7E95;
	border-left: 1px solid #4E7E95;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
  background-color: #E5ECF4;
}